/* Resetando margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1e;
  color: #f5f5f7;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.container {
  background-color: #2c3e50;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  margin-top: 30px;
}

.container h1 {
  font-size: 1.8rem;
  color: #ecf0f1;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.container h1:hover {
  color: #3498db;
}

.container p {
  font-size: 0.85rem;
  color: #bdc3c7;
}

.foto-perfil {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid #ecf0f1;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.foto-perfil:hover {
  transform: scale(1.1);
}

.link-media {
  display: flex;
  align-items: center;
  background-color: #3498db;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 15px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.link-media:hover {
  background-color: #2980b9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.link-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.link-media p {
  color: #f5f5f7;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 5px;
  width: 50%;
  transition: color 0.3s ease;
}

.link-media p:hover {
  color: #ecf0f1;
}

.link-prog {
  display: flex;
  align-items: center;
  background-color: #d65809;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 8px;
  margin: 1px 0;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.link-prog:hover {
  background-color: #8c9c15;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.link-prog img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.link-prog p {
  color: #f5f5f7;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 15px;
  width: 50%;
  transition: color 0.3s ease;
}

.link-prog p:hover {
  color: #ecf0f1;
}

#status-programacao{
  font-size: 0.7rem;
}

.quadro-avisos {
  background-color: #e74c3c;
  color: #ffff;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.contador-visitantes {
  background-color: #34495e;
  color: #f5f5f7;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  margin: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #2c3e50;
  color: #bdc3c7;
  text-align: center;
  font-size: 0.85rem;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
}

.footer-link {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #2980b9;
}

.ultima-atualizacao {
  font-size: 0.7rem;
  color: #bdc3c7;
}

#compartilhar-grupo{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 0.7rem;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .link-media p {
    font-size: 0.85rem;
  }

  .footer {
    font-size: 0.7rem;
    padding: 8px;
  }

  .foto-perfil {
    width: 80px;
    height: 80px;
  }
}

